textarea{
    vertical-align: top;
    height: 5em;
}

.error{
    display: none;
    margin-left: 10px;
}

.error_show{
    color: red;
    margin-left: 10px;
}

input.invalid, textarea.invalid{
    border: 1.5px solid red;
}

input.valid, textarea.valid{
    border: 1.5px solid green;
}