<html>
<body>
<div>
    Kính gửi đơn vị ${emailRequest.receiverName},
</div>
<br>
<div>
    Hiện tại, đơn vị đang có ${emailRequest.numberOfDocument} văn bản chưa được nhận về, chi tiết các văn bản như sau:
</div>
<br>
<table>
    <thead>
    <tr>
        <th>Trích yếu</th>
        <th>Đơn vị gửi</th>
        <th>Ngày phát hành</th>
        <th>Ngày đồng bộ lên trục</th>
    </tr>
    </thead>
    #set($columns = ["subject", "toOrganDomain", "promulgationDate", "sentDate"])
    #foreach($document in $emailRequest.edocDocument)
    #end
    <tbody>
    <tr>
        #foreach($column in $columns)
            <td>$document.get($column)</td>
        #end
    </tr>
    </tbody>
</table>
</body>
</html>