<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

    <context:annotation-config/>
    <mvc:annotation-driven/>
    <context:property-placeholder location="classpath:application.properties"/>

    <mvc:resources mapping="/asset/**" location="/asset/"
                   cache-period="0"/>
    <mvc:resources mapping="/asset/css/**" location="/asset/css/"
                   cache-period="0"/>
    <mvc:resources mapping="/asset/js/**" location="/asset/js/"
                   cache-period="0"/>
    <mvc:resources mapping="/**" location="/"
                   cache-period="0"/>
    <mvc:resources mapping="/views/**" location="/views/"
                   cache-period="0"/>
    <mvc:resources mapping="/layout/**" location="/layout/"
                   cache-period="0"/>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/checkLogin/**"/>
            <mvc:exclude-mapping path="/api/**"/>
            <mvc:exclude-mapping path="/errors"/>
            <mvc:exclude-mapping path="/asset/**"/>
            <mvc:exclude-mapping path="/public/**"/>
            <bean class="com.bkav.edoc.web.auth.AuthenticationInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <context:component-scan base-package="com.bkav.edoc.web"/>
    <!-- Resolves views selected for rendering by @Controllers to .jsp resources
		in the /WEB-INF/views directory -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView"/>
    </bean>
    <!-- Defines a resolver implementation bean. It gets applied to all requests handled by that DispatcherServlet -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="${max.file.size.upload}"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxInMemorySize" value="1000"/>
    </bean>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
        <property name="useTrailingSlashMatch" value="true"/>
    </bean>

    <bean id="tileConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/tiles.xml</value>
            </list>
        </property>
    </bean>
    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:messages"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
    <bean id="localeResolver"
          class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName" value="edocApp"/>
        <property name="cookieMaxAge" value="3600"/>
    </bean>

    <mvc:interceptors>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="lang"/>
        </bean>
    </mvc:interceptors>

    <import resource="bean/bean-scheduler.xml"/>

</beans>
